.about-page {
    text-align: center;
    font-family: var(--font-jeko-bold);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 1.25rem;
    padding-bottom: 6rem;
}

.about-page .title {
    font-family: var(--font-jeko-bold);
    font-size: 2.5rem;
    margin-bottom: 2.75rem;
}

.about-page img {
 max-width: 70%;
 height: auto;
}

.about-page p {
    margin-bottom: 1.5rem;
}

.about-page h1.title {
    margin-bottom: 0;
}

.about-page h2 {
    font-size: 2.25rem;
}

.about-page small {
    margin-bottom: 3.81rem;
    display: block;
}